* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #089c7e;
}

/*------------------------------------*/
main{
  display: flex;
}

/*-----------------------------------*/
.sidebar {
  margin: 0;
  padding: 0;
  max-width: 12%;
  background-color: #f1f1f1;
  height: 100vh;
  overflow: auto;
  width: 100%;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: var(--primary-color);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/*--------------------------*/
.content {
  padding: 16px;
  max-width: 88%;
  width: 100%;
}

.component {
  background: #ddd;
  padding: 18px;
}

.component-title{
  margin-top: 12px;
  font-size: 18px;
}

.code-area{
  margin-top: 15px;
}

.html-label{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.code-block{
  border-radius: 8px;
  background: #555;
  padding: 10px;
  color: #fff;
  text-align: left;
}